<nav class="navbar navbar-inverse">
    <div class="container-fluid text-center">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>                        
            </button>
            @*<a class="navbar-brand" href="#">WebSiteName</a>*@
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                <li>@Html.ActionLink("Products", "Index", "Product")</li>
                <li class="logo">
                    <a href="../Home/Index">
                        <img src="/Photos/BiteMeLogoRound.png" width="100" height="100">
                    </a>
                </li>
                <li class="li">@Html.ActionLink("Events", "Index", "Event")</li>
                @*<li class="li">@Html.ActionLink("News", "Index", "News")</li>*@
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.Partial("_LoginPartial")</li>
            </ul>
        </div>
    </div>
</nav>


@*<div class="navbar navbar-inverse navbar-fixed-top" id="navbar">
    <div class="container">
       <div class="navbar-collapse collapse">
            <div class="FourElementsOfNavbar">
                <ul class="nav navbar-nav col-sm-2">
                    <li class="li">@Html.ActionLink("About", "About", "Home")</li>
                    <li class="li">@Html.ActionLink("Products", "Index", "Product")</li>
                    <li>
                        <a href="../Home/Index">
                            <img src="/Photos/BiteMeLogoRound.png" width="80" height="80">
                        </a>
                    </li>
                    <li class="li">@Html.ActionLink("Events", "Index", "Event")</li>
                    <li class="li">@Html.ActionLink("News", "Index", "News")</li>
                </ul>
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>*@