@model IEnumerable<practicingbiteme2.ViewModels.Event>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Events</h2>

@using (Html.BeginForm("Index", "Event", FormMethod.Get))
{
    <p id="searchEvent">
        Year: @Html.DropDownList("year", "All")
        <button class="btn btn-primary" type="submit">Search</button>
    </p>
}

<p>
    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <ul class="timeline">
                @foreach (var item in Model)
                {
                    <li class="timeline-item">
                        <div class="timeline-badge"><i class="glyphicon glyphicon-off"></i></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">@Html.DisplayFor(modelItem => item.Name)</h4>
                                <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i>@Html.DisplayFor(modelItem => item.EventDate)</small></p>
                            </div>
                            <div class="timeline-body">
                                <div class="extendable-box">
                                    <p>@Html.DisplayFor(modelItem => item.Details)</p>
                                    <p class="read-more"> </p>

                                </div>
                                <p>
                                    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                                    {
                                        <small class="text-muted">@Html.ActionLink("Edit", "Edit", new { id = item.EventId }) | </small>
                                        <small class="text-muted">@Html.ActionLink("Delete", "Delete", new { id = item.EventId }) | </small>
                                    }
                                    <small>@Html.ActionLink("Show More", "Details", new { id = item.EventId })</small>
                                </p>
                            </div>
                        </div>
                    </li>
                }

            </ul>
        </div>
    </div>
</div>

<div class="fixer"></div>
