@model practicingbiteme2.Models.Order

@{
    ViewBag.Title = "Create";
}

<h2>Order</h2>

<table class="table">
    <tr>
        <th>Product Name</th>
        <th>Order Date</th>
        <th>Quantity</th>
        <th>Status</th>
    </tr>
    @foreach (var item in Model.OrderProducts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Status)
            </td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("PayPal", "PaymentWithPaypal", "Order", new { @class = "btn btn-success"})
</div>
